

@media screen and (max-width: 1090px) {
	#monkey {
		position: absolute;
  		top: 0px;
  		right: 0px;
	}


}

@media screen and (max-width: 406px) {
	#monkey {
		position: absolute;
  		top: 550px;
  		left: 20px;
	}


}